.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Red-color {
  color: red;
}

.Form-container {
  display: flex;
  flex-direction: column;
}

.Form-label {
  font-weight: bold;
  margin: auto;
  margin-bottom: 2px;
}

.Form-element {
  width: 400px;
  margin: auto;
  margin-bottom: 5px;
}

.Form-button {
  margin: auto;
  min-width: 150px;
  margin-top: 10px;
}

.OrangeArticles {
  color: #e46600;
}

.OneArticle {
  font-weight: bold;
}

.GreenArticles {
  color: #326647;
}